#paineis-sobre {
    margin-top: 20px;
}

html,
body {
    height: 100%;
}

/*header {
    background-image: url(img/banner.jpg);
    background-size: contain;
    background-position: top left;
    height: 80%;
}*/

header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-voluntarios figure {
    text-align: center;
  }
  
.section-voluntarios figure:hover {
    transform: scale(1.10);
  }

.section-voluntarios img {
    height: 320px;
    width: 100%;
    object-fit: contain;
    object-position: center top;
    transition: transform 500ms;
  }

.titulo-depoimentos {
    background-color: #0275D8;
    padding-top: 25px;
    padding-bottom: 25px;
    color:#FFF;
    margin-bottom: 0px;
    font-size: 24px
}

.contato-select {
    float: right;
}

footer {
    background-color: #333;
    color: #FFF;
    padding: 1em;
    margin-top: 10px;
    text-align: center;
}

footer address:last-child {
    margin-bottom: 0;
   }

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}